.itemList {
  box-sizing: border-box;  
  padding: 0px 15px;  
  .item {
    float: left;
    box-sizing: border-box;
    padding: 0 15px 40px;
    width: 50%;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    Image {
      display: block;
      width: 330px;
      height: 330px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.none {
  display: none;
}