.rightSideBar {
  padding: .4rem .4rem .28rem;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
  .bannerImage {
    display: block;
    width: 100%;
    height: 192px;
  }
  .itemList {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    .itemGoods {
      flex: 1/3;
      // flex-basis: 100%;
      .itemBanner {
        display: block;
        width: 144px;
        height: 144px;
      }
      .itemName {
        font-size: 24px;
        width: 144px;
        height: 72px;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        white-space: pre-wrap;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .itemGoods:nth-child(3n+1) {
    margin-right: 40px;
  }
  .itemGoods:nth-child(3n+2) {
    margin-right: 40px;
  }
}