.swiper-box {
  width: 750px;
  height: 750px;
  .imageBox {
    width: 750px;
    height: 750px;  
    Image {
      display: block;
      width: 750px;
      height: 750px;
    }
  }
}
.priceBox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  .activity {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
  }
  .price {
    width: calc(100% - 120px);
    height: 100%;
    .promoTitle {
      margin: 12px 0px 0px 24px;
      font-size: 24px;
      color: #fff;
      overflow: hidden;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .promoPrice {
      height: 75px;
      line-height: 75px;
      padding-right: 30px;
      color: #fff;
      .activityPrice {
        font-size: 48px;
      }
      .activityPrices {
        margin-left: 24px;
      }
      .retailPrice {
        font-size: 20px;
      }
    }
  }
}

.promoTips {
  background: #FFF0DD;
  padding: 12px 30px;
  width: 100%;
  box-sizing: border-box;
  font-size: 24px;
  color: #F48F18;
  font-weight: 700;
}

.bonusBanner {
  display: flex;
  align-items: center;
  border-top: 20px solid #f4f4f4;
  padding: 32px 0px 32px 30px;
  color: #333;
  .tag { 
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background-image: linear-gradient(90deg,#FF2C30 0,#FF8659 100%);
    border-radius: 20px;
    font-size: 20px;
    color: #FFF;
    margin-right: 16px;
    vertical-align: top;
    margin-top: 2px;
    -ms-flex: none;
    flex: none;
  }
  .descList {
    font-size: 28px;
    line-height: 39px;
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  .buttonName {
    font-size: 24px;
    color: #FF2E31;
    line-height: 47px;
    margin-left: 10px;
    text-align: right;
    padding: 0 23px;
    border: 1px solid #FF2E31;
    -ms-flex: none;
    flex: none;
    border-radius: 24px;
    margin-right: 10px;
  }
}

.content {
  position: relative;
  padding: 26px 0px 36px 30px;
  .baseInfo {
    display: flex;
    margin-top: 14px;
    .info {
      flex: 1;
      padding-right: 24px;
      .name {
        margin-bottom: 2px;
        font-size: 32px;
      }
      .simpleDesc {
        font-size: 24px;
        line-height: 36px;
        color: #7f7f7f;
      }
    }
    .comment {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 178px;
      background-image: linear-gradient(to bottom,#d9d9d9 43%,rgba(255,255,255,0) 0);
      background-size: 1px 12px;
      background-repeat: repeat-y;
      .wrap {
        padding-left: 20px;
        box-sizing: border-box;
        font-size: 28px;
        text-align: center;
        overflow: hidden;
        .num {
          font-weight: 700;
          font-size: 32px;
          line-height: 45px;
          color: #B4282D;
          text-align: center;
        }
        .com {
          line-height: 36px;
          font-size: 24px;
          color: #7F7F7F;
        }
      }
    }
  }
}

.itemDetail {
  border-top: 20px solid #f4f4f4;
  .attrCon {
    padding: 30px;
    .cp {
      padding: 40px 0 24px;
      font-size: 28px;
      line-height: 1;
    }
    .item {
      zoom: 1;
      font-size: 24px;
      line-height: 44px;
      padding: 10px 30px 10px 0px;
      background-image: linear-gradient(to right,#919191 33%,rgba(255,255,255,0) 0);
      background-position: top;
      background-size: 12px 1px;
      background-repeat: repeat-x;
      .left {
        float: left;
        width: 148px;
        position: relative;
        color: #999;
      }
      .right {
        margin-left: 168px;
      }
    }
  }
}